.button--filled,
.button--outline {
	position: relative;
	font-weight: 600;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	outline: none;
}

.button--filled {
	border: none;
	color: var(--accent-color);
	text-transform: uppercase;
	background-color: var(--light-purple);
	transform-style: preserve-3d;
	transition: transform var(--time-timing-transition),
		background-color var(--time-timing-transition);
}

.button--filled:hover,
.button--filled:focus {
	background-color: var(--purple);
	transform: translate(0, 0.25rem);
}

.button--filled::before {
	position: absolute;
	content: '';
	inset: 0;
	background-color: var(--dark-purple);
	border-radius: inherit;
	transform: translate3d(0, 0.75rem, -1rem);
	transition: transform var(--time-timing-transition);
}

.button--filled:hover::before,
.button--filled:focus::before {
	transform: translate3d(0, 0.5rem, -1rem);
}

.button--filled:active {
	background-color: var(--purple);
	transform: translate(0rem, 0.75rem);
}

.button--filled:active::before {
	transform: translate3d(0, 0, -1rem);
}

.button--outline {
	background-color: transparent;
	overflow: hidden;
	isolation: isolate;
}

.button--outline:hover,
.button--outline:focus {
	color: var(--text);
}

.button--outline::before {
	position: absolute;
	content: '';
	inset: 0;
	z-index: -1;
	background-color: var(--yellow);
	transform: translateY(100%);
	transition: transform var(--time-timing-transition),
		background-color var(--time-timing-transition);
}

.button--outline:hover::before,
.button--outline:focus::before {
	transform: translate(0);
}

.button--outline:active::before {
	background-color: var(--dark-yellow);
}

.form-button {
	border: 1px solid #fff;
	padding: 0.5rem 2rem;
	border-radius: 0 0.4rem 0.4rem 0;
	font-weight: 600;
	background-color: #fff;
	color: var(--accent-color);
	transition: background-color var(--time-timing-transition),
		box-shadow var(--time-timing-transition);
}

.form-button:hover,
.form-button:focus {
	background-color: var(--purple);
}

.form-button:active {
	box-shadow: inset 0 0 8px 5px var(--dark-purple);
}

.menu__button {
	display: none;
	background-color: transparent;
	border: none;
}

.menu__button i {
	font-size: 2rem;
}
