* {
	box-sizing: border-box;
}

body {
	background-color: #a0caec;
	min-height: 100vh;
	min-height: 100dvh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 1rem 2rem;
}

.nav {
	flex: 0 1 auto;
}

.nav__image {
	width: 200px;
}

.nav__list {
	display: flex;
	place-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav__item {
	flex-grow: 0;
	display: inline-block;
	font-size: 16px;
	font-family: 'Palatino Linotype';
}

.nav__item > a {
	display: block;
	padding: 1.5rem 10px;
	text-decoration: none;
	color: #333;
	transition: all 200ms linear;
}

.nav__item > a:focus,
.nav__item > a:hover {
	background-color: #333;
	color: #eee;
}

.main__image {
	width: 100%;
}
