.header {
	background-color: var(--dark-blue);
}

.header__title {
	margin: 0.75rem;
	color: #fff;
	font-family: 'Bernard MT Condensed', serif;
	font-size: 5rem;
	text-align: center;
	letter-spacing: 0.2rem;
}
