.main {
	display: grid;
	justify-items: center;
}

.main__img {
	padding: 3rem 0;
}

.img-mariscos {
	max-width: 400px;
}

.main__prices {
	width: 100%;
	padding: 3rem 1rem;
	display: grid;
	gap: 2rem;
	background-color: var(--dark-blue);
}

.prices-table,
.prices-table th,
.prices-table td {
	color: #fff;
	border: 0.2rem solid #fff;
	border-collapse: collapse;
	font-family: 'Arial', sans-serif;
	font-size: 1.5rem;
}

.prices-table td {
	padding: 0.75rem 2.5rem;
}

/* centra el texto de los precios */
.prices-table td:nth-of-type(even) {
	text-align: center;
}
