* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: grid;
	background-image: url('https://source.unsplash.com/random/?wallpaper');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body::before {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
	content: '';
}

a {
	text-decoration: none;
}

.menu {
	position: fixed;
	width: 100vw;
	background-color: #555;
	color: #fff;
	font-family: 'Verdana', cursive;
	z-index: 1;
}

.menu ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 0.75rem;
	font-size: 1.25rem;
	list-style-type: none;
}

.menu a {
	display: block;
	font-size: 1rem;
	text-align: center;
	padding: 1rem 0.75rem;
	color: inherit;
	transition: background-color 0.25s;
}

.menu a:hover,
.menu a:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-mobile {
	transition: left 0.5s;
}

.menu-mobile ul {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0 0.75rem;
	font-size: 1.25rem;
	list-style-type: none;
}

.menu-mobile a {
	width: 100vw;
}

.hide {
	left: -100vw;
}

.show {
	left: 0;
}

main {
	padding: 1rem;
}

h1 {
	font-family: 'Nabla', cursive;
	text-align: center;
	font-size: clamp(4rem, 5vw, 6rem);
	user-select: none;
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1.5rem;
	padding: 0 2rem;
	margin: 1.5rem 0;
}

.item {
	position: relative;
	display: grid;
	place-items: center;
	aspect-ratio: 2 / 1;
	border-radius: 1.2rem;
	background-color: #fff;
	font-family: 'Caesar Dressing', cursive;
	font-size: 2.5rem;
	text-decoration: none;
	color: inherit;
}

.item::before {
	position: absolute;
	background-image: linear-gradient(
		90deg,
		#ee7752,
		#e73c7e,
		#23a6d5,
		#23d5ab,
		#ee7752
	);
	background-size: 200% 200%;
	background-position: 0 0;
	border-radius: inherit;

	inset: 0;
	opacity: 0;
	filter: blur(0.4rem);
	transform: scale(1.1);
	z-index: -1;

	transition: all 1s;
	content: '';
}

.item:hover::before {
	opacity: 1;
	background-position: 200% 200%;
}
