main {
	display: grid;
	gap: 2rem;
	font-family: 'Montserrat', sans-serif;
}

.nosotros-grid {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.productos-grid {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.producto button,
.oferta button {
	background-color: var(--blue);
	transition: background-color 0.125s;
}

.producto button:hover,
.oferta button:hover {
	background-color: var(--blue--hover);
}

.oferta {
	grid-template-areas:
		'img    nombre desc'
		'precio boton  .';
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
}

.oferta img {
	grid-area: img;
	min-width: 150px;
}

.oferta h3 {
	grid-area: nombre;
}

.oferta p:nth-of-type(1) {
	grid-area: desc;
}

.oferta p:nth-of-type(2) {
	grid-area: precio;
}

.oferta button {
	grid-area: boton;
}

.testimonio {
	grid-template-areas:
		'nombre comentario'
		'img    comentario';
	grid-template-columns: min-content 1fr;
}

.testimonio h3 {
	grid-area: nombre;
}

.testimonio img {
	grid-area: img;
	max-width: 150px;
}

.testimonio p {
	grid-area: comentario;
}

@media (max-width: 850px) {
	.oferta {
		grid-template-areas:
			'nombre nombre nombre'
			'img    desc   .'
			'precio boton .';
		grid-template-columns: repeat(2, 1fr);
	}

	.testimonio {
		grid-template-areas:
			'img'
			'nombre'
			'comentario';
		grid-template-columns: 1fr;
	}
}
